<div fxLayout="column" fxLayoutAlign="center center">
  <span class="title">Ngpl Confirm Dialog</span>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-3">
    <button mat-raised-button (click)="eliminarSinAccion()">Confirmación sin Acción</button>
    <button mat-raised-button (click)="eliminarConAccion()"> Confirmación Con Acción</button>
    <button mat-raised-button (click)="confirmNormalIcon()"> Confirmación Normal Icon</button>
    <button mat-raised-button (click)="confirmSmallIcon()"> Confirmación Small Icon</button>
    <button mat-raised-button (click)="confirmConTextoResaltado()"> Confirmación Highlight text</button>
  </div>

  <span class="title">Ngpl Lottie Confirm Dialog</span>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-3">
    <button mat-raised-button (click)="eliminarSinAccionLottie()">Lottie sin Acción</button>
    <button mat-raised-button (click)="eliminarConAccionLottie()"> Lottie Con Acción</button>
    <button mat-raised-button (click)="confirmConTextoResaltadoLottie()"> Lottie Highlight text</button>
  </div>
  <span class="title">Ngpl Lottie Check Dialog</span>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-3">
    <button mat-raised-button (click)="lottieCheck('check-green-1')"> Check Green 1</button>
    <button mat-raised-button (click)="lottieCheck('check-green-2')"> Check Green 2</button>
    <button mat-raised-button (click)="lottieCheck('check-success')"> Check Success</button>
    <button mat-raised-button (click)="lottieCheck('check-orange')"> Orange Check</button>
    <button mat-raised-button (click)="lottieCheck('check-orange-1')"> Orange Check 1</button>
  </div>
  <span class="title">Ngpl Lottie Warn Dialog</span>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-3">
    <button mat-raised-button (click)="lottieWarn('warn-orange-1')">Warn Orange 1</button>
    <button mat-raised-button (click)="lottieWarn('warn-orange-2')"> Warn Orange 2</button>
  </div>

</div>

