<section>
<span class="title">
      Ngpl Confirm Dialog
    </span>

  <form   fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button (click)="eliminarSinAccion()"> Eliminar Sin Acción</button>
    <button mat-button (click)="eliminarConAccion()"> Eliminar Con Acción</button>
    <button mat-button (click)="confirmNormalIcon()"> Confirm Normal Icon</button>
    <button mat-button (click)="confirmSmallIcon()"> Confirm Small Icon</button>
    <button mat-button (click)="confirmConTextoResaltado()"> Confirm Highlight text</button>
    </div>

  </form>


</section>
